/* Estilos gerais */

* {
    font-family: Arial, sans-serif;
    font-weight: 10px;
    color: #555
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fundo mais claro */
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    min-height: 100vh; /* Garante que o conteúdo ocupe a altura total da tela */
    margin: 0;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco */
    border-radius: 10px; /* Arredondamento suave das bordas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    /* color: #333; Cor de texto mais escura */
    text-align: center;
}

/* Formulário */
form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    /* color: #240e9b; Cor de texto mais escura */
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9f9; /* Fundo mais claro */
    border-radius: 4px;
    transition: border-color 0.3s, width 0.3s; /* Adicionamos uma transição para suavizar as mudanças */
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #FF5733; /* Cor de destaque (laranja) ao focar */
    outline: none;
    width: 100%; /* Evita que o input cresça ao focar */
}

/* Botão */
button[type="submit"] {
    background-color: #f96847; /* Laranja */
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; /* Espaço à esquerda do botão */
}

button[type="submit"]:hover {
    background-color: #E64A2E; /* Laranja mais escuro */
}

/* Resultado do Orçamento */
#resultado {
    display: none;
    background-color: #ffffff; /* Fundo branco */
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    
}

#resultado p {
    margin-bottom: 10px;
    /* color: #4b0b9f; Cor de texto mais escura */
}

/* Estilos para categorias */
.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
    flex-basis: calc(33.33% - 10px); /* Distribui as opções em 3 colunas */
    font-size: 16px;
    justify-content: space-
}

.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilos para categorias selecionadas */
#categorias-selecionadas {
    font-weight: bold;
    margin-top: 10px;
    /* color: #008787; Cor de texto mais escura */
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    form {
        padding: 10px;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    select {
        padding: 10px;
    }

    button[type="submit"] {
        padding: 10px 20px;
    }
}
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }


  #informacoes-uteis {
    display: none;
  }


.lista-precos {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical quando necessário */
}

#copy {
    display:flex;
    justify-content: flex-end ;
 
 }

#copiar-botao {
    top: 2.1rem;
    right: 10px;
    padding: 10px 20px;
    background-color: #ffd4ca;
    color: #bdbaba;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#copiar-botao:hover {
    background-color: #f48369;
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    
}